In [16]:
import os
import sys

# Agregar el directorio raíz y src/utils al sys.path
root_path = os.path.abspath(os.path.join(os.getcwd(), '..'))
utils_path = os.path.join(root_path, 'src', 'utils')
sys.path.append(utils_path)

from functions import get_config, get_database_connection, fetch_query_as_dataframe

# Construir la ruta absoluta del archivo config.cfg
config_path = os.path.join(root_path, 'config.cfg')

# Leer configuración
config = get_config(config_path)

# Crear conexión a la base de datos
try:
    engine = get_database_connection(config)
    
    # Ruta del archivo SQL
    sql_file_path = os.path.join(root_path, 'sql/queries/fetch_books.sql')
    
    # Ejecutar la consulta SQL y cargarla en un DataFrame
    df = fetch_query_as_dataframe(engine, sql_file_path)
    
    # Mostrar estadísticas descriptivas
    display(df.describe(include='all').T)
except ValueError as e:
    print(f"Error: {e}")

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
book_id,1160.0,NaN,NaN,NaN,22562016.616379,17123992.329878,320.0,7220401.75,21007949.5,34276952.5,199909769.0
book_title,1160,1156,Aquinas,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
authors,796,577,C.S. Lewis,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tag_count,1160.0,NaN,NaN,NaN,6.958621,5.052444,0.0,3.0,6.0,10.0,30.0
tags,1159,918,to-read,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN
blurb,1160,1152,This book was converted from its physical edit...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.shape

(1160, 6)

In [18]:
df.describe(include='all' ).T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
book_id,1160.0,NaN,NaN,NaN,22562016.616379,17123992.329878,320.0,7220401.75,21007949.5,34276952.5,199909769.0
book_title,1160,1156,Aquinas,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
authors,796,577,C.S. Lewis,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tag_count,1160.0,NaN,NaN,NaN,6.958621,5.052444,0.0,3.0,6.0,10.0,30.0
tags,1159,918,to-read,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN
blurb,1160,1152,This book was converted from its physical edit...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.head()

,book_id,book_title,authors,tag_count,tags,blurb
0,26872047,Caminando por valles oscuros: Memorias de un j...,Walter J. Ciszek,30,"abandonment-in-god, biography, catholic, chełm...","Walter Ciszek, jesuita norteamericano, entró e..."
1,18968737,The Return of the Prodigal Son: A Story of Hom...,Henri J.M. Nouwen,28,"_pilar, _sindy, abandonment-in-god, anxiety, a...",<p>A chance encounter with a reproduction of R...
2,57132719,Liberado: Una Guía Práctica para la Liberación,Neal Lozano,28,"catholic, chełmińska, christ, christianity, de...","A pesar de nuestros mejores esfuerzos, muchos ..."
3,25239369,El Abandono en la Divina Providencia: Clásicos...,Jean-Pierre de Caussade,27,"abandonment-in-god, catholic, christ, classics...",Esta breve obra se compone de cartas escritas ...
4,40237158,Una familia de bandidos en 1793,None,26,"adventures, atheism, biography, catholic, chur...",Resulta difícil no emocionarse varias veces al...